/* CSS Document */
body{
	font-size:12px;
	color:#000;
	background-color:#6B7A7C;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:0px;
	margin-left:0px;
}

#contour{
	position:relative;
	margin:auto;
	background:url(../images/design/fond_contour.jpg);
	width:737px;
	height:auto;
}

#header{
	position:relative;
	height:174px;
	width:737px;
	background:url(../images/design/header.jpg);
}

#menu{
	position:relative;
	height:32px;
	width:736px;
	background:url(../images/design/menu.jpg);
	padding-left:1px;
}

#centre{
	position:relative;
	width:737px;
	height:auto;
}

#footer{
	position:relative;
	width:737px;
	height:39px;
	margin:auto;
	background:url(../images/design/footer.jpg);
	clear:both;
}

#footer_texte{
	position:relative;
	width:700px;
	height:15px;
	font-size:10px;
	color:#666666;
	margin-left:auto;
	margin-right:auto;
	padding-top:8px;
	text-align:center;
}

#footer_texte a{
	color:#666666;
	text-decoration:none;
}

#footer_texte a:hover{
	color:#666666;
	text-decoration:underline;
}


#recherche{
	float:left;
	width:241px;
	height:253px;
	background:url(../images/design/recherche.jpg);
	margin-left:1px;
}





/* ==== DERNIER TEST===== */
#last_test{
	float:left;
	margin-left:244px;
	margin-top:0px;
	width:339px;
	height:253px;
	background:url(../images/design/dernier_test.jpg);
	margin-left:1px;
	font-size:10px;
	text-align:justify;
}

#last_test table{
	margin:40px auto 0px auto;
}

#last_test table h1{
	margin:0px;
	padding-bottom:3px;
	font-size:18px;
	font-weight:bold;
	letter-spacing:-1px;
}

#last_test table h2{
	margin:0px;
	font-size:11px;
	letter-spacing:-1px;
}

#last_test table .image{
	border:#000000 1px solid;
	margin-bottom:5px;
}

#last_test table a{
	color:#000000;
	text-decoration:none;
	font-weight:bold;
}

#last_test table a:hover{
	color:#000000;
	text-decoration:underline;
	font-weight:bold;
}

/* ==== FIN DERNIER TEST===== */





#pub_droite{
	float:right;
	margin-top:0px;
	width:137px;
	height:646px;
	background:url(../images/design/pub.jpg);
	background-repeat:no-repeat;
	margin-left:0px;
	padding-right:14px;
}	

#ten_test{
	float:left;
	margin-left:244px;
	margin-top:0px;
	width:581px;
	height:256px;
	background:url(../images/design/ten_tests.jpg);
	margin-left:1px;
}

#left{
	position:relative;
	display:block;
	width:583px;
	/*height:650px;*/
	height:auto;
	background:url(../images/design/fond_left.jpg);
	background-repeat:repeat-y;
}

#partenariat{
	float:left;
	width:294px;
	height:137px;
	margin-left:1px;
}

#liste_mag{
	float:left;
	width:286px;
	height:137px;
	margin-left:1px;
}

/* ============ PUB ========== */

#pub_haut{
	position:absolute;
	width:468px;
	height:60px;
	background:#CCCCCC;
	margin:105px 0px 0px 250px;
	border:1px #999999 solid;
}

#publicite_droite{
	position:absolute;
	width:120px;
	height:600px;
	background:#CCC;
	margin:38px 0px 0px 7px;
	border:1px #CCCCCC solid;
}

/* ==== Form rechercher === */

#recherche form{
	position:relative;
	width:130px;
	margin:auto;
	top:50px;
	/*border:#000000 1px solid;*/
	text-align:center;
}

#recherche input{
	border:#666666 1px solid;
	background:#FFF;
	width:130px;
	color:#000;
	font-size:9px;
	margin-bottom:8px;
}

#recherche select{
	border:#666666 1px solid;
	background:#FFF;
	width:130px;
	color:#000;
	font-size:9px;
	margin-bottom:8px;
}

#recherche .submit{
	border:#666666 1px solid;
	background:#FFF;
	width:30px;
	color:#000;
	font-size:9px;
}

/* ARTICLES */

#article{
	position:relative;
	width:558px;
	height:auto;
	border:#045F19 1px solid;
	padding:5px;
	margin-left:7px;
}

#article table{
	border:#8B8B8B 1px solid;
}

#article table h1{
	margin:0px;
	padding-bottom:3px;
	font-size:18px;
	font-weight:bold;
	letter-spacing:-1px;
}

#article table h2{
	margin:0px;
	font-size:11px;
	letter-spacing:-1px;
}

#article table .image{
	border:#000000 1px solid;
	margin-bottom:5px;
}

hr{
	border-bottom:none;
	background-color:#8B8B8B;
	height:1px;
	width:90%;
	margin:10px auto 10px auto;
}


a img{
	border:none;
}


#photo{
	float:left;
	display:inline;
	margin:10px 20px 15px 15px;
	height:auto;
	width:auto;
}

#clearboth{
	position:relative;
	width:90%;
	height:1px;
	clear:both;
}

#article_mag{
	position:relative;
	width:568px;
	height:550px;
	border:#045F19 1px solid;
	margin-left:7px;
	background:url(../images/map.jpg);
	background-repeat:no-repeat;
}

#section{
	position:relative;
	width:550px;
	height:auto;
	display:block;
	border:#999999 1px dashed;
	/*clear:both;*/
}

table .noborder{
	border:0px;
}

table a{
	text-decoration:none;
	font-weight:bold;
	color:#000000;
}

table a:hover{
	text-decoration:underline;
	font-weight:bold;
	color:#000000;
}

#article a{
	text-decoration:underline;
	color:#000000;
}

#article a:hover{
	text-decoration:none;
	color:#000000;
}

#article_test{
	margin-top:43px;
	margin-left:10px;
	width:570px;
}

#article_test table{
	width:566px;
}

object{
	z-index:1;
}